#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Link
Icon[de_CH]=gnome-panel-launcher
URL=http://www.seas.upenn.edu/~cis500/cis500-s09/index.html
Name[de_CH]=Pierce_SoftwareFoundationsCourseWithCoq
Name=Pierce_SoftwareFoundationsCourseWithCoq
Icon=gnome-panel-launcher
